/*------------------ 
Frontend related CSS
------------------*/

.payment_method_fcf_pay p a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
}